$adaptive-values: (
  "1200": 960px,
  "992": 720px,
  "768": 540px,
  "576": none,
);

@mixin build-adaptive-container() {
  @each $key, $value in $adaptive-values {
    @media (width < #{$key}px) {
      .container {
        max-width: $value;
      }
    }
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid red
}

@include build-adaptive-container()