@import './variables.scss';
@import '../../../fonts/Parangon530C.scss';

.banner {
  position: absolute;
  left: 15px;
  top: 15px;
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 4px 12px 2px 7px;
  font-family: 'Parangon530C';

  &_best-seller {
    background-color: $banner-best-seller;
  }
  &_promo {
    background-color: $banner-promo;
  }
  &_novelty {
    background-color: $banner-novelty;
  }

  &__text {
    margin: 0;
    font-size: 8px;
    color: white;
  }

  &__icon {
    position: relative;
    bottom: 1px;
  }
}