@import './form.scss';

.case-4 {
  background-image: url('/img/case-4/background.jpg');
  width: 1360px;
  height: 650px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Gotham Pro';
  color: white;
}