@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}