@font-face { 
	font-family: "Parangon530C";
	src: url("/fonts/Parangon530C/Parangon530C.eot");
	src: url("/fonts/Parangon530C/Parangon530C.eot?#iefix")format("embedded-opentype"),
	url("/fonts/Parangon530C/Parangon530C.woff") format("woff"),
	url("/fonts/Parangon530C/Parangon530C.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}