@import './variables.scss';

.accordion {
  border: 1px solid $border-color;
  box-sizing: border-box;

  &__wrapper {
    width: 560px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 18px 30px 19px;
    color: $primary;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;

    &::marker {
      content: none;
    }
  }

  &__description {
    padding: 0 30px;
  }
}